.container-p {
  width: 500px;
  margin: 0px auto;
  padding: 15px;
}

.container-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label, input, button{
  font-size: 16px;
}

button {
  padding: 2px 5px;
}

.small {
  color: red;
  margin-bottom: 10px;
}

select {
  font-size: 16px;
  margin-right: 12px;
}

.textarea {
  overflow-y: scroll;
  resize: none;
  border: 1px rgb(183, 180, 180) solid;
  height: 210px;
  font-size: 16px;
}

.bloque {
  display: block;
}