<div class="container-p">
  <div class="container-add">
    <label for="nombre">Introduzca Nombres:</label>
    <input
      type="text"
      id="nombre"
      name="nombreA"
      [(ngModel)]="nombreAdd"
      required minlength="3"
      pattern="^[A-Za-z\s]+$"
      #nombreA="ngModel"
    >
    <button (click)="addName(nombreA)" [disabled]="nombreA.invalid">Adicionar Nombres</button>
  </div>
  <div class="small">
    <small *ngIf="nombreA.invalid && nombreA.touched">Nombre solo debe contener letras y espacios</small>
  </div>

  <div class="container-s">
    <select
      [(ngModel)]="nombreShow"
      required 
      pattern="^[A-Za-z]+$"
      #nombreS="ngModel"
    >
      <option hidden>Seleccione...</option>
      <option *ngFor="let item of listNombres" value={{item}}>{{item}}</option>
    </select>
    <button (click)="addPrint()">Mostrar Nombres</button>
  </div>
  <div class="small">
    <small *ngIf="condicionM">Debe seleccionar un nombre</small>
  </div>

  <div class="textarea">
    <div class="bloque" *ngFor="let item of printNombres">{{item}}</div>
  </div>
</div>